<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Spotify Hovedopgave</title>
    <link href="~/css/Main.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="~/js/Player.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/stylesheets/jumbotron-narrow.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="header">

            <img src="~/images/banner.png" style="width: 100%" />

            @if (User?.Identity?.IsAuthenticated ?? false)
            {
            <div class="col-sm-10" style="text-align:center;">
                <p>Du er logged ind som @User.Identity.Name</p> <a class="btn btn-sm btn-danger" href="/signout?returnUrl=%2F">Log af</a>

            </div>

            }
        </div>
            @RenderBody()

            <div class="footer">
                <p>&copy; Hovedopgave 2018</p>
            </div>

        </div>
</body>
</html>
