@model string

<div class="jumbotron">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h1>Velkommen, @User.Identity.Name</h1>
        <div class="text-body">
            Du er nu logget ind, og kan vælge at oprette eller joine en playliste.
        </div>


        <div class="col-6" style="text-align:center;">
            <button class="btn btn-primary" id="myBtn" style="height: 50%; text-align:center;">Join playlist</button>

            <div id="myModal" class="modal">
                <div class="modal-content">
                    <h2>Join en playlist</h2>
                    <span class="close">&times;</span>
                    <p>Få koden til din vens playliste for at joine den så du kan stemme på de sange du gerne vil høre</p>
                    <form action="@Url.Action("Details","Rooms")" method="post">
                        Indtast koden: <input type="text" name="ID"><br>
                        <input type="submit" value="Join playlist">
                    </form>
                </div>
            </div>
            @*TODO: Smid css et andet sted*@
            <form>
                <input type="button" value="Opret Playliste" onclick="window.location.href='@Url.Action("Create","Rooms")'" style="
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    height: 50%;
    text-align: center;
    -webkit-appearance: button;
    cursor: pointer;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    margin-top: 10px;
" />
            </form>
        </div>
        <div class="text-body">
            Du kan også vælge at logge ud igen
        </div>
        <div class="col-6" style="text-align:center;">
            <a class="btn btn-lg btn-danger" href="/signout?returnUrl=%2F">Log af</a>
        </div>
    }

    else
    {
        <h1>Velkommen til vores webapplikation</h1>
        <a class="btn btn-lg btn-success" href="/signin?returnUrl=%2F">Log ind</a>
        <div class="text-body">
            Denne opgave er lavet af Jurijs og Christoffer som hovedopgave på datamatiker studiet.
            Vi har lavet en web-app, som minder lidt om en gammeldags jukebox.
            Man kan oprette en playliste (ved at logge ind med spotify) og andre kan så se den playliste,
            og stemme sange op som de gerne vil havde der skal afspilles.
        </div>
        <img src="~/Images/spotifyHovedopgave.png" style="max-width: 100%;" />

    }

</div>

        <script src="~/js/modal.js"></script>
