@model SpotifyOpgaveCore.Models.Room
<script type="text/javascript"
        src="https://code.jquery.com/jquery-1.12.4.js"></script>

<table id="Grid" class="table table-dark table-hover table-condensed">
    <tbody>
        <tr>
            <td>

                <div class="btn-group col-3">
                    <button onclick="Play('music.mp3','audio');" class="btn btn-custom"><span title="Play" id="play" class="icon-play aligned"></span></button>
                    <button onclick="Stop('music.mp3','audio');" class="btn btn-custom"><span title="Stop" id="stop" class="icon-stop aligned"></span></button>
                    <button onclick="Next('music.mp3','audio');" class="btn btn-custom"><span title="Next" id="next" class="icon-step-forward aligned"></span></button>
                    <i class="fa fa-spotify fa-2x" style="color: #1db954; margin-left:10px;"></i>
                </div>


            </td>
            <td>
                @ViewBag.song
            </td>
            <td>Stemmer</td>

        </tr>
    </tbody>

</table>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:@ViewBag.progress%">@ViewBag.progress% </div>
</div>

